@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
  --color-green: rgb(127, 255, 0);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header {
    background: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-bottom: 1 solid #333;
    margin-bottom: 20px;
  }
  
  header nav {
    text-align: center;
  }
  
  header nav a {
    margin: 30px;
    color: aliceblue;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
  }
  header nav :hover {
    color: var(--color-green);
    transition: color 200ms;
  }